# IAM Service
IAM_DB_NAME=vankoo_iam_db_dev
IAM_DB_USER=YOUR_DB_USER
IAM_DB_PASSWORD=YOUR_DB_PASSWORD
IAM_DB_PORT=5432

# Invoicing Service
INVOICING_DB_NAME=vankoo_invoicing_db_dev
INVOICING_DB_USER=YOUR_DB_USER
INVOICING_DB_PASSWORD=YOUR_DB_PASSWORD
INVOICING_DB_PORT=27017

# Finance Service
FINANCE_REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092
KAFKA_CLUSTER_ID=YOUR_CLUSTER_ID
KAFKA_CLUSTER_NAME=vankoo-dev-cluster
KAFKA_UI_PORT=9000